@import url(../../../styles/styles.css);

.headers-folder {
    width: 100%;
}

.form-logo-cat {
    display: flex;
    justify-content: space-between;
}

.form-logo {
    position: absolute;
    margin: 5.5em 0 0 11em;
    width: 8em;
}

.form-white-cat {
    position: absolute;
    margin: 5.55em 0 0 75em;
    width: 2em;
}

.form-buttons {
    position: absolute;
    padding: 250px 0 0 169px;
    margin: 0;
    justify-content: start;
}

.rect {
    margin: 300px 5% 20% 100px;
    width: 1100px;
    height: 540px;
    border-radius: 0 35px 35px 35px;
    /*margin-left: 5%;*/
    /*margin-top: 20%;*/
    fill:#747A9B;
    stroke:white;
    stroke-width:2;
    opacity:1;
}

.form-button1 {
    width: 438px;
    height: 53px;
    border: 3px white solid;
    background-color: #747A9B;
    color: white;
    stroke-width: 2;
    opacity: 1;
    text-align: center;
    border-radius: 35px 54px 0 0;
    /*padding-bottom: 20px;*/
    font-size: 32px;
    font-weight: normal;
    border-bottom: #747A9B;
    position: absolute;
    border-right: #747A9B solid;
    z-index: 1;
    font-family: Gilroy;
}

.line {
    position: absolute;
    z-index: 3;
}

.anon-form {
    position: absolute;
    width: 950px;
    height: 400px;
    background-color: #747A9B;
    padding: 50px;
    margin: 302px 0 0 171px;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.full-name {
    display: flex;
    justify-content: space-between;
}

.passport {
    display: flex;
    justify-content: space-between;
}

.passport-textarea {
    display: flex;
    justify-content: flex-start;
}

.visit-details {
    display: flex;
    justify-content: space-between;
}

.visit-reason {
    display: flex;
    justify-content: space-between;
}

.email {
    display: flex;
    justify-content: space-between;
}

input {
    background-color: #B7BACB;
    border: none;
    font-family: Gilroy;
    font-size: 20px;
    height: 60px;
    width: 300px;
    border-radius: 35px;
    text-align: center;
    justify-content: center;
    color: white;
    margin: 20px 0 20px 0;
}

textarea {
    background-color: #B7BACB;
    border: none;
    font-family: Gilroy;
    font-size: 20px;
    height: 60px;
    width: 1000px;
    border-radius: 35px;
    text-align: center;
    vertical-align: bottom;
    margin: 20px 0 20px 0;
    padding-top: 30px;
    resize: none;
}

legend {
    font-family: Gilroy;
    font-size: 24px;
    font-weight: normal;
    color: white;
    margin: 20px 0 20px 0;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #747A9B;
}

.date:default, textarea:default, input:default {
    outline: none;
    color: #747A9B;
}

.date:focus, textarea:focus, input:focus, input:checked, textarea:enabled {
    outline: none;
    color: white;
}

input[type=date]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.anon-form-checkbox-container {
    font-family: Gilroy;
    font-size: 16px;
    align-items: center;
    padding-right: 300px;
    padding-top: 20px;
    color: white;
}

.anon-form-checkbox {
    width: 20px;
    height: 20px;
    margin-top: 20px;
    background-color: #747A9B;
    border-radius: 35px;
}

.anon-form-checkbox-submit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.anon-form-submit-button {
    background-color: #6BC8F4;
    border: none;
    font-family: Gilroy;
    font-size: 20px;
    height: 60px;
    width: 200px;
    border-radius: 35px;
    text-align: center;
    justify-content: center;
    color: white;
}

.anon-form-submit-button:hover {
    cursor: pointer;
    stroke-width: 2;
    border: #6BC8F4 solid;
    background-color: transparent;
    color: white;
}

/*планшет*/
@media screen and (max-width: 1050px) {
    .form__container svg {
        display: none;
    }

    .form-logo-cat {
        display: flex;
        width: 100%;
    }

    .form-logo {
        width: 7rem;
        margin: 2.2rem 0 2rem 4rem;
    }

    .form-white-cat {
        width: 2rem;
        margin:  2rem 0 2rem 43rem;
    }

    .form-buttons {
        padding: 0;
        margin: 6rem 0 0 3rem;
    }

    .form-button1 {
        width: 250px;
        height: 40px;
        border: none;
        font-size: 24px;
        padding: 0;
        margin: 0;
    }

    .anon-form {
        margin: 8rem 6rem 0 3rem;
        width: 600px;
        height: auto;
        border-radius: 0 35px 35px 35px;
        padding: 40px;
    }

    .anon-form legend {
        font-size: 24px;
        margin-top: 0;
        padding-left: 0;
        margin-bottom: 0;
    }

    .full-name input {
        width: 180px;
        font-size: 20px;
        height: 40px;
        margin-bottom: 0;
    }

    .passport {
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
    }

    .passport input {
        width: 180px;
        font-size: 20px;
        height: 40px;
        margin-bottom: 0;
    }

    .passport .date {
        padding-left: 10px;
    }

    .passport-textarea textarea {
        height: 30px;
        padding-top: 10px;
        font-size: 20px;
    }

    .visit-details {
        margin: 0;
        padding: 0;
    }

    .visit-details input {
        width: 180px;
        font-size: 20px;
        height: 40px;
        margin-bottom: 0;
    }

    .visit-reason textarea {
        height: 30px;
        padding-top: 10px;
        font-size: 20px;
    }

    .email input {
        width: 350px;
        font-size: 20px;
        height: 40px;
        margin-bottom: 0;
    }

    .anon-form-checkbox-submit input {
        margin-top: 26px;
    }

    .anon-form-checkbox-submit label{
        width: auto;
        margin-right: 25px;
        padding-right: 0;
        padding-right: 0;
        margin-left: 5px;
        font-size: 20px;
    }

    .anon-form-submit button {
        width: 180px;
        height: 40px;
        font-size: 20px;
        margin-top: 25px;
    }
}

@media screen and (max-width: 650px) {
    .form__container svg {
        display: none;
    }

    .form-logo-cat {
        display: flex;
        width: 100%;
    }

    .form-logo {
        width: 5rem;
        margin: 2.2rem 0 2rem 2rem;
    }

    .form-white-cat {
        width: 1.5rem;
        margin:  2rem 0 2rem 20rem;
    }

    .form-buttons {
        padding: 0;
        margin: 6rem 0 0 2rem;
    }

    .form-button1 {
        width: 250px;
        height: 40px;
        border: none;
        font-size: 20px;
        padding: 0;
        margin: 0;
    }

    .anon-form {
        margin: 8rem 6rem 0 2rem;
        width: 250px;
        height: auto;
        border-radius: 0 35px 35px 35px;
        padding: 40px;
    }

    .anon-form legend {
        font-size: 16px;
        margin-top: 0;
        padding-left: 0;
        margin-bottom: 0;
    }

    .full-name input {
        width: 70px;
        font-size: 8px;
        height: 30px;
        margin-bottom: 0;
    }

    .passport {
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
    }

    .passport input {
        width: 70px;
        font-size: 8px;
        height: 30px;
        margin-bottom: 0;
    }

    .passport .date {
        padding-left: 10px;
    }

    .passport-textarea textarea {
        height: 20px;
        padding-top: 10px;
        font-size: 8px;
    }

    .visit-details {
        margin: 0;
        padding: 0;
    }

    .visit-details input {
        width: 70px;
        font-size: 8px;
        height: 30px;
        margin-bottom: 0;
    }

    .visit-reason textarea {
        height: 20px;
        padding-top: 10px;
        font-size: 8px;
    }

    .email input {
        width: 350px;
        font-size: 8px;
        height: 30px;
        margin-bottom: 0;
    }

    .anon-form-checkbox-submit label{
        width: auto;
        margin-right: 25px;
        padding-right: 0;
        margin-left: 5px;
        font-size: 8px;
    }

    .anon-form-submit button {
        width: 150px;
        height: 30px;
        font-size: 16px;
        margin-top: 25px;
    }    
}

@media screen and (max-width: 490px) {
    .form__container svg {
        display: none;
    }

    .form-logo-cat {
        display: flex;
        width: 100%;
    }

    .form-logo {
        width: 5rem;
        margin: 2.2rem 0 2rem 2rem;
    }

    .form-white-cat {
        width: 1.5rem;
        margin:  2rem 0 2rem 21rem;
    }

    .form-buttons {
        padding: 0;
        margin: 6rem 0 0 2rem;
    }

    .form-button1 {
        width: 250px;
        height: 40px;
        border: none;
        font-size: 20px;
        padding: 0;
        margin: 0;
    }

    .anon-form {
        margin: 8rem 6rem 0 2rem;
        width: 250px;
        height: auto;
        border-radius: 0 35px 35px 35px;
        padding: 40px;
    }

    .anon-form legend {
        font-size: 16px;
        margin-top: 0;
        padding-left: 0;
        margin-bottom: 0;
    }

    .full-name input {
        width: 70px;
        font-size: 8px;
        height: 30px;
        margin-bottom: 0;
    }

    .passport {
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
    }

    .passport input {
        width: 70px;
        font-size: 8px;
        height: 30px;
        margin-bottom: 0;
    }

    .passport .date {
        padding-left: 10px;
    }

    .passport-textarea textarea {
        height: 20px;
        padding-top: 10px;
        font-size: 8px;
    }

    .visit-details {
        margin: 0;
        padding: 0;
    }

    .visit-details input {
        width: 70px;
        font-size: 8px;
        height: 30px;
        margin-bottom: 0;
    }

    .visit-reason textarea {
        height: 20px;
        padding-top: 10px;
        font-size: 8px;
    }

    .email input {
        width: 350px;
        font-size: 8px;
        height: 30px;
        margin-bottom: 0;
    }

    .anon-form-checkbox-submit label{
        width: auto;
        margin-right: 25px;
        padding-right: 0;
        margin-left: 5px;
        font-size: 8px;
    }

    .anon-form-submit button {
        width: 150px;
        height: 30px;
        font-size: 16px;
        margin-top: 25px;
    }
}