@import url(../../styles/styles.css);

body {
    padding: 0.0em; /*меняй это значение для адаптивности всего блока по центру экрана. примерно 7 на моем большом мониторе делает по центру (･ᴗ･) */
}

.logo-cat {
    display: flex;
    justify-content: space-between;
}

.logo-main {
    position: absolute;
    margin: 8em 0 0 9em;
    width: 8em;
}

.about-us-title {
    position: absolute;
    margin-left: 75em;
    margin-top: 12em;
}

.about-us {
    font-family: Gilroy;
    font-size: 24px;
    color: white;
}

.about-us-blue {
    font-family: Gilroy;
    font-size: 24px;
    color: #6BC8F4;
}

.service-information {
    position: absolute;
    margin-top: 18em;
    margin-left: 10em;
    z-index: 1;
}

.service-information-welcome {
    font-family: Gilroy;
    font-size: 40px;
    color: white;
}

.service-information-welcome-blue {
    font-family: Gilroy;
    font-size: 40px;
    color: #6BC8F4;
}

.service-information-welcome-text {
    font-family: Gilroy;
    font-size: 24px;
    color: white;
}

.service-information-enter {
    font-family: Gilroy;
    font-size: 16px;
    background-color: #6BC8F4;
    color: white;
    width: 270px;
    height: 55px;
    border-radius: 35px;
    margin-top: 3em;
    stroke-width: 2;
    border: #6BC8F4 solid;
}

.service-information-enter:hover, .service-information-enter:active {
    cursor: pointer;
    stroke-width: 2;
    border: #6BC8F4 solid;
    background-color: transparent;
}

.service-information-cat {
    position: absolute;
    padding-left: 2.5em;
    padding-top: 5.8em;
    width: 10%;
    height: 10%;
}

/*планшет*/
@media screen and (max-width: 1050px) {
    .main-page-figures svg {
        display: none;
    }

    .logo-cat {
        display: flex;
        width: 100%;
    }

    .logo-main {
        width: 10rem;
        margin: 2.2rem 0 2rem 2rem;
    }
    
    .about-us-title {
        margin-left: 34rem;
        margin-top: 1.70rem;
    }

    .about-us {
        font-size: 30px;
    }

    .about-us-blue {
        font-size: 30px;
    }

    .service-information {
        margin: 18rem 2rem 2rem 4rem;
    }

    .service-information-welcome, .service-information-welcome-blue {
        font-size: 40px;
        line-height: 45px;
        padding-bottom: 80px;
    }

    .service-information-welcome br {
        display: none;
    }

    .service-information-welcome-text {
        font-size: 30px;
        line-height: 45px;
    }

    .service-information-enter {
        margin-top: 10rem;
        height: 100px;
        width: 400px;
        margin-left: 4rem;
        font-size: 30px;
        margin-bottom: 2rem;
    }

    .service-information-cat {
        margin-top: 5rem;
        padding-left: 2rem;
        width: 4rem;
    }
}

@media screen and (max-width: 650px) {
    .main-page-figures svg {
        display: none;
    }

    .logo-cat {
        display: flex;
        width: 100%;
    }

    .logo-main {
        width: 7rem;
        margin: 2rem 0 2rem 2rem;
    }
    
    .about-us-title {
        margin-left: 12.5rem;
        margin-top: 4vh;
    }

    .about-us {
        font-size: 20px;
    }

    .about-us-blue {
        font-size: 20px;
    }

    .service-information {
        margin: 8rem 2rem 2rem 2rem;
    }

    .service-information-welcome, .service-information-welcome-blue {
        font-size: 30px;
        line-height: 35px;
        padding-bottom: 40px;
    }

    .service-information-welcome-text {
        font-size: 20px;
        line-height: 35px;
    }

    .service-information-enter {
        margin: 7rem 4rem 2rem 0;
        height: 55px;
        width: 270px;
        font-size: 20px;
    }

    .service-information-cat {
        margin-top: 1rem;
        padding-left: 1.5rem;
        margin-bottom: 2rem;
        width: 2rem;
    }
}

@media screen and (max-width: 490px) {
    .main-page-figures svg {
        display: none;
    }

    .logo-cat {
        display: flex;
        width: 100%;
    }

    .logo-main {
        width: 7.5rem;
        margin: 2rem 0 2rem 2rem;
    }
    
    .about-us-title {
        margin-left: 12.5rem;
        margin-top: 4vh;
    }

    .about-us {
        font-size: 20px;
    }

    .about-us-blue {
        font-size: 20px;
    }

    .service-information {
        margin: 12rem 2rem 2rem 2rem;
    }

    .service-information-welcome, .service-information-welcome-blue {
        font-size: 30px;
        line-height: 35px;
        padding-bottom: 40px;
    }

    .service-information-welcome-text {
        font-size: 20px;
        line-height: 35px;
    }

    .service-information-enter {
        margin: 7rem 0 2rem 0;
        height: 55px;
        width: 270px;
        font-size: 20px;
    }

    .service-information-cat {
        margin-top: 1rem;
        padding-left: 1.5rem;
        margin-bottom: 2rem;
        width: 2rem;
    }
}