@import url(../../../../../styles/styles.css);


.personal-account-container {
    position: absolute;
    padding: 4em 0 0 8em;
    width: 75%;
    height: 450px;
    z-index: 0;
}

.logo-personal-account {
    display: flex;
    justify-content: space-between;
}

.logo-personal-acc {
    position: absolute;
    padding: 3em 0 0 4em;
    width: 8em;
    z-index: 1;
}

.personal-account-header {
    margin-top: 2.5em;
}

.personal-account-enter-personal-acc {
    position: absolute;
    margin: 2.5em 0 0 50em;
    font-family: Gilroy;
    font-size: 20px;
    border: none;
    background-color: transparent;
    color: white;
    z-index: 1;
}

.personal-account-enter:hover, .personal-account-enter:active {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.personal-account {
    display: flex; /*чтобы показать окно надо изменить свойство display с none на flex*/
    height: 100%;
    width: 90%;
    flex-direction: column;
    background-color: #121629;
    border: white 2px solid;
    border-radius: 35px;
    font-family: Gilroy;
    position: absolute;
    padding: 4em 4em 0 4em;
}

.personal-account-back {
    position: absolute;
    z-index: 10;
    background-color: #6BC8F4;
    border: none;
    font-family: Gilroy;
    font-size: 20px;
    height: 60px;
    width: 200px;
    border-radius: 35px;
    text-align: center;
    justify-content: center;
    color: white;
}

.personal-account-back:hover {
    background-color: transparent;
    border: #6BC8F4 2px solid;
    cursor: pointer;
    color: white;
}

.personal-account-text {
    padding-top: 140px;
    padding-bottom: 140px;
    font-family: Gilroy;
    font-size: 24px;
    color: white;
}

.personal-account-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.personal-account-title {
    font-family: Gilroy;
    font-size: 24px;
    color: white;
    position: absolute;
    margin: 0 0 0 36em;
}

.personal-account-blue {
    font-family: Gilroy;
    font-size: 24px;
    color: #6BC8F4;
}

.personal-account-get-link {
    background-color: #B7BACB;
    border: none;
    font-family: Gilroy;
    font-size: 20px;
    height: 40px;
    width: 250px;
    border-radius: 35px;
    text-align: center;
    justify-content: center;
    color: white;
    margin-top: 20px;
}

.personal-account-get-link:hover {
    background-color: transparent;
    border: #B7BACB 2px solid;
    cursor: pointer;
    font-family: Gilroy;
    font-size: 20px;
    height: 40px;
    width: 250px;
    border-radius: 35px;
    text-align: center;
    justify-content: center;
    color: white;
}
