@import url(../../../../../styles/styles.css);

.header-folder {
    display: none; /*отработанные заявки. с none на block*/
}

.active-header-folder {
    display: block; /*активные заявки. с none на block*/
}

.add-security-container {
    position: absolute;
    width: 100%;
    height: 430px;
    z-index: 100; /*чтобы показать окно, нужно изменить z-index с 0 на 10*/
}

.visitor-information-window-container {
    position: absolute;
    padding: 8em 0 0 8em;
    width: 75%;
    height: 650px;
    z-index: 0; /*чтобы показать окно, нужно изменить z-index с 0 на 10*/
}

.add-security-window {
    display: block; /*чтобы показать окно надо изменить свойство display с none на flex*/
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: #121629;
    border: white 2px solid;
    border-radius: 35px;
    font-family: Gilroy;
    position: absolute;
    padding: 4em 4em 0 4em;
}

.visitor-information-window {
    display: none; /*чтобы показать окно надо изменить свойство display с none на flex*/
    width: 90%;
    height: 100%;
    flex-direction: column;
    background-color: #121629;
    border: white 2px solid;
    border-radius: 35px;
    position: absolute;
    padding: 4em 4em 0 4em;
}

.visitor-information-back:hover, .accept-visitor:hover, .accept-visitor:active, .visitor-information-back:active, .add-security-button-add:hover, .add-security-button-add:active {
    cursor: pointer;
    stroke-width: 2;
    border: #6BC8F4 solid;
    background-color: transparent;
    color: white;
}

.accept-visitor-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 35px;
}

.accept-visitor {
    background-color: #6BC8F4;
    border: none;
    font-size: 20px;
    height: 60px;
    width: 200px;
    border-radius: 35px;
    text-align: center;
    justify-content: center;
    color: white;
}

.deny-visitor {
    background-color: #B7BACB;
    border: none;
    font-size: 20px;
    height: 60px;
    width: 200px;
    border-radius: 35px;
    text-align: center;
    justify-content: center;
    color: white;
}

.deny-visitor:hover, .deny-visitor:active {
    cursor: pointer;
    stroke-width: 2;
    border: #B7BACB solid;
    background-color: transparent;
    color: white;
}

.add-security-button-add {
    background-color: #6BC8F4;
    border: none;
    font-size: 20px;
    height: 40px;
    width: 250px;
    border-radius: 35px;
    text-align: center;
    justify-content: center;
    color: white;
    margin-top: 20px;
}

.add-security-header, .visitor-information-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.add-security-information-title {
    font-size: 24px;
    color: white;
    position: absolute;
    padding-left: 30em;
}

.add-security-title, .visitor-information-title {
    font-size: 24px;
    color: white;
    position: absolute;
    padding-left: 46.5em;
}

.visitor-information-blue {
    font-size: 24px;
    color: #6BC8F4;
}

.full-name, .enter-data, .add-button, .passport, .visit-details, .email, .visit-reason, .logo-personal-account  {
    display: flex;
    justify-content: space-between;
}

.logo-personal-account {
    display: flex;
    justify-content: space-between;
}

.logo-admin {
    position: absolute;
    margin: 4.5em 0 0 11em;
    width: 8em;
}

.personal-account-enter {
    position: absolute;
    margin: 3.5em 0 0 62em;
    font-size: 20px;
    border: none;
    background-color: transparent;
    color: white;
    z-index: 11;
}

.personal-account-enter:hover, .personal-account-enter:active {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.passport-textarea {
    display: flex;
    justify-content: flex-start;
}

input {
    background-color: #B7BACB;
    border: none;
    font-size: 20px;
    height: 50px;
    width: 300px;
    border-radius: 35px;
    text-align: center;
    justify-content: center;
    color: white;
    margin: 20px 0 20px 0;
}

output {
    background-color: #B7BACB;
    border: none;
    font-size: 20px;
    height: 40px;
    padding-top: 10px;
    width: 300px;
    border-radius: 35px;
    text-align: center;
    justify-content: center;
    color: white;
    margin: 20px 0 20px 0;
}

.textarea {
    width: 1200px;
}

.admin-panel-buttons, .admin-panel-buttons-second {
    position: absolute;
    padding: 258px 0 0 171px;
    margin: 0;
    justify-content: start;
    z-index: 100;
}

.admin-panel-buttons-second {
    padding-left:671px;
    z-index: 4;
}

.rect {
    margin: 300px 5% 20% 100px;
    width: 1100px;
    height: 540px;
    border-radius: 0 35px 35px 35px;
    fill:#747A9B;
    stroke:white;
    stroke-width:2;
    opacity:1;
}

.add-security {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 110;
    margin-top: 7em;
}

.add-security-title {
    font-size: 24px;
    color: white;
    margin-right: 6em;
}

.add-security-title-blue {
    font-size: 24px;
    color: #6BC8F4;
}
/*ТУТ*/
/*ТУТ*/
/*ТУТ*/
.add-security-button {
    font-size: 16px;
    background-color: #B7BACB;
    color: #121629;
    width: 200px;
    height: 35px;
    border-radius: 35px;
    margin-left: 11em;
    position: absolute;
    z-index: 11;
}

.add-security-button:hover, .add-security-button:active {
    cursor: pointer;
    stroke-width: 2;
    border: #B7BACB solid;
    background-color: transparent;
    color: white;
}

.active-admin-panel-button1:hover, .admin-panel-button1:hover, .admin-panel-button2:hover {
    cursor: pointer;
}

.admin-panel-button1 {
    width: 438px;
    height: 53px;
    background-color: #747A9B;
    color: white;
    border-radius: 35px 50px 0 0;
    opacity: 1;
    text-align: center;
    font-size: 32px;
    font-weight: normal;
    position: absolute;
    z-index: 1;
}

.active-admin-panel-button1, .active-admin-panel-button2 {
    width: 438px;
    height: 53px;
    margin: 5px 0 0 30px;
    background-color: #747A9B;
    color: white;
    opacity: 1;
    text-align: center;
    border-radius: 35px 50px 0 0;
    font-size: 32px;
    font-weight: normal;
    position: absolute;
    z-index: 100; /*тут переключается видимость кнопок в папке*/
}

.a

.admin-panel-button2 {
    width: 438px;
    height: 53px;
    border: 3px white solid;
    background-color: #747A9B;
    color: white;
    stroke-width: 2;
    opacity: 1;
    text-align: center;
    border-radius: 35px 50px 0 0;
    margin-left: 438px;
    font-size: 32px;
    font-weight: normal;
    border-bottom: #747A9B;
    position: absolute;
    border-right: #747A9B solid;
    z-index: 1; /*тут переключается видимость кнопок в папке*/
}

.active-application {
    position: relative;
    width: 72%;
    height: auto;
    background-color: #747A9B;
    padding: 50px;
    padding-bottom: 30px;
    margin: 302px 0 50px 171px;
    z-index: 4;
    display: flex;
    flex-direction: column;
    border: 3px white solid;
    border-radius: 35px;
}

.inactive-application {
    position: relative;
    width: 72%;
    height: auto;
    background-color: #747A9B;
    padding: 50px;
    padding-bottom: 30px;
    margin: 302px 0 50px 171px;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.application-number-btn {
    text-align: center;
    justify-content: center;
    width: 30px;
    height: auto;
    border: none;
    font-size: 16px;
    background-color: transparent;
}

.application-number-btn:hover {
    border: none;
    cursor: pointer;
}

.active-application-first-line {
    display: grid;
    grid-template-columns: 5% auto auto auto auto 13%;
    padding: 0 50px 0 30px;
    align-items: center;
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

.inactive-application-first-line {
    display: grid;
    grid-template-columns: 5% auto auto auto auto 13%;
    padding: 0 50px 0 30px;
    align-items: center;
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

.active-application-string {
    width: 100%;
    display: grid;
    grid-template-columns: 6% 15% 19% 22% 20% auto;
    grid-template-rows: auto;
    background-color: #B7BACB;
    border-radius: 35px;
    padding: 20px 0 20px 20px;
    margin-bottom: 30px;
    align-items: center;
    font-size: 16px;
    color: #121629;
}

.inactive-application-string {
    width: 100%;
    display: grid;
    grid-template-columns: 6% 15% 19% 22% 20% auto;
    grid-template-rows: auto;
    background-color: #B7BACB;
    border-radius: 35px;
    padding: 20px;
    margin-bottom: 30px;
    align-items: center;
    font-size: 16px;
    color: #121629;
}

.searching-string {
    color: white;
    width: 250px;
    background-color: #B7BACB;
    border-radius: 35px;
}

.inactive-application-str-switch, .active-application-str-switch {
    display: flex;
    justify-content: center;
    font-size: 16px;
}


.str-switch-back, .str-switch-next, .str-switch-number {
    background-color: #B7BACB;
    border-radius: 35px;
    border: none;
    width: 3em;
    height: 3em;
    margin: 4px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.str-switch-number {
    background-color: transparent;
    margin-top: 1em;
    width: 1em;
    height: auto;
}

.str-switch-back:hover, .str-switch-next:hover {
    background-color: transparent;
    border-radius: 35px;
    border: #B7BACB 2px solid;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {

}