@import url(../../styles/styles.css);

.header-folder {
    width: 100%;
}

.logo-cat {
    display: flex;
    justify-content: space-between;
}

.logo {
    position: absolute;
    margin: 5.5em 0 0 11em;
    width: 8em;
}

.white-cat {
    position: absolute;
    margin: 5.55em 0 0 75em;
    width: 2em;
}

.authorization_form-buttons {
    position: absolute;
    padding: 198px 0 0 169px;
    margin: 0;
    justify-content: start;
}

.authorization_form-button {
    padding: 8px 0 0 2px;
    position: absolute;
    z-index: 9;
}

.authorization_enter-text {
    padding: 20px 0 0 220px;
    color: white;
    font-size: 24pt;
    position: absolute;
    z-index: 10;
}

.authorization-form {
    position: absolute;
    width: 70%;
    height: auto;
    background-color: #747A9B;
    border: white 3px solid;
    border-radius: 35px;
    padding: 90px 50px 50px 50px;
    margin: 250px 0 0 171px;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    background-color: #B7BACB;
    border: none;
    font-family: Gilroy;
    font-size: 20px;
    height: 60px;
    width: 300px;
    border-radius: 35px;
    text-align: center;
    justify-content: center;
    color: white;
    margin: 20px 0 20px 0;
}

.authorization-enter {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.authorization-enter-button {
    background-color: #6BC8F4;
    border: none;
    font-family: Gilroy;
    font-size: 20px;
    height: 60px;
    width: 200px;
    border-radius: 35px;
    text-align: center;
    justify-content: center;
    color: white;
}

.authorization-enter-button:hover, 
.authorization-enter-button:active {
    cursor: pointer;
    stroke-width: 2;
    border: #6BC8F4 solid;
    background-color: transparent;
    color: white;
}

.line {
    position: absolute;
    z-index: 3;
}

input:default {
    outline: none;
    color: #747A9B;
}

input:focus, input:checked {
    outline: none;
    color: white;
}