@import url(../../styles/styles.css);

.header-folder {
    width: 100%;
}

.logo-cat {
    display: flex;
    justify-content: space-between;
}

.logo {
    position: absolute;
    margin: 5.5em 0 0 11em;
    width: 8em;
}

.white-cat {
    position: absolute;
    margin: 5.55em 0 0 75em;
    width: 2em;
}

.authorization_form-buttons {
    position: absolute;
    padding: 250px 0 0 169px;
    margin: 0;
    justify-content: start;
}

.rect {
    /*margin: 300px 5% 20% 100px;*/
    /*width: 1100px;*/
    /*height: 540px;*/
    border-radius: 0 35px 35px 35px;
    /*margin-left: 5%;*/
    /*margin-top: 20%;*/
    fill:#747A9B;
    stroke:white;
    stroke-width:2;
    opacity:1;
}

.authorization_form-button {
    width: 438px;
    height: 53px;
    border: 3px white solid;
    background-color: #747A9B;
    color: white;
    stroke-width: 2;
    opacity: 1;
    text-align: center;
    border-radius: 35px 54px 0 0;
    /*padding-bottom: 20px;*/
    font-size: 32px;
    font-weight: normal;
    border-bottom: #747A9B;
    position: absolute;
    border-right: #747A9B solid;
    z-index: 1;
    font-family: Gilroy;
}

.authorization-form {
    position: absolute;
    width: 950px;
    height: 300px;
    background-color: #747A9B;
    padding: 90px 50px 50px 50px;
    margin: 302px 0 0 171px;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    background-color: #B7BACB;
    border: none;
    font-family: Gilroy;
    font-size: 20px;
    height: 60px;
    width: 300px;
    border-radius: 35px;
    text-align: center;
    justify-content: center;
    color: white;
    margin: 20px 0 20px 0;
}

.authorization-enter {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.authorization-enter-button {
    background-color: #6BC8F4;
    border: none;
    font-family: Gilroy;
    font-size: 20px;
    height: 60px;
    width: 200px;
    border-radius: 35px;
    text-align: center;
    justify-content: center;
    color: white;
}

.authorization-enter-button:hover, .authorization-enter-button:active {
    cursor: pointer;
    stroke-width: 2;
    border: #6BC8F4 solid;
    background-color: transparent;
    color: white;
}

.line {
    position: absolute;
    z-index: 3;
}

input:default {
    outline: none;
    color: #747A9B;
}

input:focus, input:checked {
    outline: none;
    color: white;
}