@import url(../../../../../styles/styles.css);

.watchmanPage-logo-cat {
    display: flex;
    justify-content: space-between;
}

.watchmanPage-logo {
    position: absolute;
    margin: 5.5em 0 0 11em;
    width: 8em;
}

.watchmanPage-white-cat {
    position: absolute;
    margin: 5.55em 0 0 74em;
    width: 2em;
}

.watchmanPage_greed {
    position: absolute;
    width: 950px;
    height: auto;
    background-color: #747A9B;
    padding: 50px;
    margin: 150px 40px 0 171px;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 35px;
}

.w-full-name {
    display: flex;
    justify-content: space-between;
}

.w-passport {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.w-series-number-issue-date {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.w-passport-textarea {
    display: flex;
    justify-content: flex-start;
}

.w-passport-textarea output {
    width: 100%;
    background-color: #B7BACB;
    border: none;
    font-family: Gilroy;
    font-size: 20px;
    height: 60px;
    width: 1000px;
    border-radius: 35px;
    text-align: center;
    vertical-align: bottom;
    margin: 20px 0 20px 0;
    padding-top: 30px;
    resize: none;
    
}

.w-details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.w-visit-details {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.w-visit-reason {
    display: flex;
    justify-content: flex-start;
}

.w-visit-reason output {
    width: 100%;
    background-color: #B7BACB;
    border: none;
    font-family: Gilroy;
    font-size: 20px;
    height: 60px;
    width: 1000px;
    border-radius: 35px;
    text-align: center;
    vertical-align: bottom;
    margin: 20px 0 20px 0;
    padding-top: 30px;
    resize: none;
}

.watchmanPage-greed legend {
    font-family: Gilroy;
    font-size: 24px;
    font-weight: normal;
    color: white;
    margin: 20px 0 20px 0;
}

.w-visit-success-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

.w-visit-button-success {
    background-color: #6BC8F4;
    border: none;
    font-family: Gilroy;
    font-size: 20px;
    height: 60px;
    width: 200px;
    border-radius: 35px;
    text-align: center;
    justify-content: center;
    color: white;
}

.w-visit-button-success:hover {
    cursor: pointer;
    stroke-width: 2;
    border: #6BC8F4 solid;
    background-color: transparent;
    color: white;
}

.w-visit-button-failure {
    background-color: #B7BACB;
    border: none;
    font-family: Gilroy;
    font-size: 20px;
    height: 60px;
    width: 200px;
    border-radius: 35px;
    text-align: center;
    justify-content: center;
    color: white;
}

.w-visit-button-failure:hover {
    cursor: pointer;
    stroke-width: 2;
    border: #B7BACB solid;
    background-color: transparent;
    color: white;
}

@media screen and (max-width: 1050px) {
    .watchmanPage-logo-cat {
        display: flex;
        width: 100%;
    }

    .watchmanPage-logo {
        width: 7rem;
        margin: 2.2rem 0 2rem 4rem;
    }

    .watchmanPage-white-cat {
        width: 2rem;
        margin:  2rem 0 2rem 43rem;
    }

    .watchmanPage_greed {
        margin: 8rem 6rem 0 3rem;
        width: 600px;
        height: auto;
        border-radius: 35px;
        padding: 40px;
    }

    .anon-form legend {
        font-size: 24px;
        margin-top: 0;
        padding-left: 0;
        margin-bottom: 0;
    }

    .w-full-name output {
        width: 180px;
        font-size: 20px;
        height: 40px;
        margin-bottom: 0;
    }

    .w-passport {
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
    }

    .w-passport output {
        width: 180px;
        font-size: 20px;
        height: 40px;
        margin-bottom: 0;
    }

    .w-passport-textarea output {
        width: 100%;
        height: 40px;
        padding-top: 10px;
        font-size: 20px;
        margin-bottom: 40px;
    }

    .w-details output {
        width: 180px;
        font-size: 20px;
        height: 40px;
        margin-bottom: 0;
    }

    .w-visit-reason output {
        width: 100%;
        height: 40px;
        padding-top: 10px;
        font-size: 20px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 650px) {
    .watchmanPage-logo-cat {
        display: flex;
        width: 100%;
    }

    .watchmanPage-logo {
        width: 5rem;
        margin: 2.2rem 0 2rem 2rem;
    }

    .watchmanPage-white-cat {
        width: 1.5rem;
        margin:  2rem 0 2rem 20rem;
    }

    .watchmanPage_greed {
        margin: 8rem 6rem 0 2rem;
        width: 250px;
        height: auto;
        border-radius: 35px;
        padding: 40px;
    }

    .watchmanPage_greed legend {
        font-size: 16px;
        margin-top: 0;
        padding-left: 0;
        margin-bottom: 0;
    }

    .w-full-name output {
        width: 70px;
        font-size: 8px;
        height: 20px;
        margin-bottom: 0;
    }

    .w-passport {
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
    }

    .w-passport output {
        width: 70px;
        font-size: 8px;
        height: 20px;
        margin-bottom: 0;
    }

    .w-passport-textarea output {
        width: 100%;
        height: 20px;
        padding-top: 10px;
        font-size: 8px;
        margin-bottom: 40px;
    }

    .w-details output {
        width: 70px;
        font-size: 8px;
        height: 20px;
        margin-bottom: 0;
    }

    .w-visit-reason output {
        width: 100%;
        height: 20px;
        padding-top: 10px;
        font-size: 8px;
        margin-bottom: 40px;
    }

    .w-visit-success-buttons {
        margin-top: 0;
    }

    .w-visit-success-buttons button {
        width: 100px;
        height: 30px;
        font-size: 16px;
        margin-top: 0;
    }   
}

@media screen and (max-width: 490px) {
    .watchmanPage-logo-cat {
        display: flex;
        width: 100%;
    }

    .watchmanPage-logo {
        width: 5rem;
        margin: 2.2rem 0 2rem 2rem;
    }

    .watchmanPage-white-cat {
        width: 1.5rem;
        margin:  2rem 0 2rem 20rem;
    }

    .watchmanPage_greed {
        margin: 8rem 6rem 0 2rem;
        width: 250px;
        height: auto;
        border-radius: 35px;
        padding: 40px;
    }

    .watchmanPage_greed legend {
        font-size: 16px;
        margin-top: 0;
        padding-left: 0;
        margin-bottom: 0;
    }

    .w-full-name output {
        width: 70px;
        font-size: 8px;
        height: 20px;
        margin-bottom: 0;
    }

    .w-passport {
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 0;
    }

    .w-passport output {
        width: 70px;
        font-size: 8px;
        height: 20px;
        margin-bottom: 0;
    }

    .w-passport-textarea output {
        width: 100%;
        height: 20px;
        padding-top: 10px;
        font-size: 8px;
        margin-bottom: 40px;
    }

    .w-details output {
        width: 70px;
        font-size: 8px;
        height: 20px;
        margin-bottom: 0;
    }

    .w-visit-reason output {
        width: 100%;
        height: 20px;
        padding-top: 10px;
        font-size: 8px;
        margin-bottom: 40px;
    }

    .w-visit-success-buttons {
        margin-top: 0;
    }

    .w-visit-success-buttons button {
        width: 100px;
        height: 30px;
        font-size: 16px;
        margin-top: 0px;
    }   
}